<div class="card mb-3" *ngFor="let post of posts | paginate: { itemsPerPage: 3, currentPage: p }">
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/post', post.id]">{{ post.title | capitalize}}</a>
    </h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
      bit longer.</p>
    <img [src]="post.url" style="width: 700px; height: 590px;">
    <!-- Agregar class para modificar tamaño -->
    <p class="card-text">
      <small class="text-muted">
        <a [routerLink]="['/post', post.id]">Last updated 3 mins ago</a>
      </small>
    </p>
    <div class="row">
      <ngb-accordion #acc="ngbAccordion">
        <div class="col-xs-6">
          <ngb-panel id="toggle-1" title="">
            <ng-template ngbPanelContent>
                <bar-rating [(rate)]="rate" [max]="10" [theme]="'horizontal'"></bar-rating>
            </ng-template>
          </ngb-panel>
        </div>
      </ngb-accordion>
    </div>
  </div>
</div>
<div class="contenedor"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>