#navsize {
    height: 45px;
}
.nav {
    background: rgba(255,255,255,0.4);
}

a>img {
    margin-left: 20px;  
}

.inputsearch {
    padding: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 500px;
    height: 35px;
    border-radius: 2px;
    outline: none;
    background: rgba(255,255,255,0.4);
}

.inputsearch:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 3px 1px #969696;
}