@import url('https://fonts.googleapis.com/css?family=Poppins');

.contenedor {
    margin-top: 60px;
}

img {
    max-width:100%;
    max-height:100%;
}

.cursor {
    cursor: pointer;
}

.nopadding {
    padding-left: 0;
}

p.ratingtext {
    font-style: Poppins, sans-serif;
    color: #757575;
    font-size: 16px;
    margin-bottom: 5px;
}

.middle {
    display: flex;
    align-items: center;
}