<div class="col-md-6 nopadding">
  <form class="card comment-form ng-pristine ng-valid ng-touched">
    <fieldset ng-reflect-disabled="false">
      <div class="card-block">
        <textarea class="form-control ng-pristine ng-valid ng-touched" name="body" placeholder="Write a comment..." rows="3" ng-reflect-name="body" ng-reflect-model=""></textarea>
      </div>
      <div class="card-footer">
        <img class="comment-author-img" src="../../../../assets/iconprofil.jpg" width="40" height="40">
        <button class="btn btn-success cursor" type="submit">
         Post Comment
        </button>
      </div>
    </fieldset>
  </form>
</div>