<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../../assets/logo.png" width="30" height="30" alt="">
  </a>
  <span class="navbar-brand mb-0 h1">Kollox</span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/topposts">Top Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angular.io/docs" target="_blank">Angular 4 Docs</a>
      </li>
    </ul>
    <div class="col-md-6">
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
      </form>
    </div>
    <div class="logintext">
      <span>Bienvenido de nuevo, Admin!</span>
    </div>
    <div class="row">
      <div class="col">
        <div ngbDropdown>
          <button class="btn btn-outline-dark cursor" id="dropdownConfig" ngbDropdownToggle>Perfil</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="dropdown bestposition">
            <ul class="loginpanel bestposition">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <div class="centertext">
                      <h4>
                        <strong>Inicia sesión en Blog</strong>
                      </h4>
                    </div>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email o Usuario</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu email o usuario">
                        <small id="emailHelp" class="form-text text-muted">Tus datos están seguros, nunca serán compartidos en ningún lado.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu contraseña">
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"> Recordar mis datos
                        </label>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-dark cursor">Ingresar</button>
                        <button type="submit" class="btn btn-outline-dark cursor marginleft">
                          <a routerLink="/register">Registrarse</a>
                        </button>
                      </div>
                    </form>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>