.cursor {
    cursor: pointer;
}

.logintext {
    margin-right: 20px;
}

.loginpanel {
    min-width: 400px;
    padding: 0 10px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
    list-style: none;
}

.centertext {
    text-align: center;
    padding: 10px 20px;;
}

.dropdown {
  top: 100%;  
}

.bestposition {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.marginleft {
    margin-left: 15px;
}

a {
    text-decoration: none ;
    color: black;
 }
a:hover
 {
   color:white;
   text-decoration:none;
   cursor:pointer;
  }