.cursor {
    cursor: pointer;
}

.logintext {
    margin-right: 20px;
}

.loginpanel {
    min-width: 400px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
    list-style: none;
}

.centertext {
    text-align: center;
    padding: 10px 20px;;
}

.dropdown {
  top: 100%;  
}