@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~ngx-bar-rating/themes/br-pokemon-theme';
@font-face {
    font-family: Kalypsa;
    src: url(./assets/fonts/Kalypsa.ttf)
}
@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins.ttf)
}

body,html {
    height: 100%;
}

.background {
    background: url('assets/Background-noreg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a {
    text-decoration: none;
}

a > h1,h2,h3,h4,h5 {
    color: black;
}